:root {
    --cor-principal-texto: #281b12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Old Standard TT", serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

#detail1 {
    width: 10%;
}

.header {
    text-align: center;
    position: relative;
    padding: 20px 0;
}

.line, .line2 {
    height: 4px;
    background: #291d16;
    width: 90%;
    margin: 10px auto;
}

#website-title {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-size: 53px;
    color: var(--cor-principal-texto);
    filter: drop-shadow(0 0 0.10rem #281b12);
    margin: 20px 0;
}

.website-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.textbox1 {
    flex: 1 1 300px;
    max-width: 500px;
    margin: 10px;
    position: relative;
}

#text-da-textbox1 {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    color: var(--cor-principal-texto);
    margin-bottom: 10px;
}

#video1 {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
}

#link-do-video {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--cor-principal-texto);
    text-decoration: none;
}

#link-do-video:hover {
    color: red;
}

#image1 {
    flex: 1 1 300px;
    max-width: 550px;
    width: 100%;
    margin: 10px;
    filter: drop-shadow(0 0 0.50rem #281b12);
}

#span2, #p3, #span5, #span6 {
    display: block;
    margin: 10px 0;
    color: #281b12;
}

#line3, #line4 {
    height: 4px;
    background: #291d16;
    margin: 10px 0;
}

.creditos {
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(10px);
}

#logo-photon {
    max-width: 300px;
    width: 80%;
    margin-bottom: 10px;
}

#creditos-span {
    font-size: 18px;
    color: var(--cor-principal-texto);
}

@media screen and (max-width: 768px) {
    #website-title {
        font-size: 36px;
    }
    #text-da-textbox1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 546px) {
    #website-title {
        font-size: 23px;
    }

    .website-description {
        flex-direction: column;
        align-items: center;
    }
    #image1, #video1 {
        width: 90%;
        max-width: 400px;
    }
    #text-da-textbox1 {
        font-size: 16px;
    }
}
